html, body, * {
    margin: 0;
    padding: 0;
}

#notification_banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
}

@import "./missions.css";
@import "./map.css";
@import "./panel.css";
@import "./tools.css";
@import "./layers.css";
