/* layer panel styling */

#layer_panel {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    width: 190px;
}


#layer_panel > .row {
    width: 190px;
}

#layer_panel > .row:nth-last-child(2) {
    position: absolute;
    bottom: 45px;
}
#layer_panel > .row:last-child {
    position: absolute;
    bottom: 5px;
}


.info {
    border-bottom: 1px solid gray;
}
.info p {
    text-align: center;
    color: white;
    line-height: 24px;
}
#info_id {
    font-size: 28px;
}

.layer-visible-button {
    display: inline-block;
    vertical-align: middle;
}
.layer-delete-button {
    display: inline-block;
    vertical-align: middle;
}
.active-layer-clickable {
    display: inline-block;
    width: 110px;
    overflow: hidden;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}
span.active-layer-clickable:hover {
    cursor: pointer;
}

.hidden { display: none; }
