/* map styling */

#map1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: crosshair;
}
.map_grab {
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
    cursor: grab !important;
}

div.leaflet-bottom.leaflet-right {
    right: 200px;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-div-icon > span {
    position: relative;
    left: -12px;
    top: -6px;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
