/* tool panel styling */

#tool_panel {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    width: 190px;
}
#tool_panel button {
    width: 190px;
}
#tool_panel > .row:last-child {
    position: absolute;
    bottom: 5px;
}
